extends base
block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(type="password", placeholder="oldPassWord", name="oldpassword")
        input(type="password", placeholder="NewPassword", name="newpassword")
        input(type="password", placeholder="NewPassword Check", name="newpasswordcheck")
        input(type="submit", value="Change Password")
