extends base
block content 
    if errorMessage 
        sapn=errorMessage
    form(method="POST").join-form 
        input(type="email" name="email" placeholder="Email" required)
        input(type="text" name="username" placeholder="UserName" required)
        input(type="text" name="id" placeholder="ID" required)
        input(type="password" name="password" placeholder="PassWord" required)
        input(type="password" name="password2" placeholder="PassWord" required)
        input(type="text", name="location" placeholder="Location")
        input(type="submit" value="Join")
    div.auth-switch
        span Already have an account?
        a(href="/login") Login now &rarr; 

