extends base
block content 
    if errorMessage     
        span=errorMessage
    form(class="login-bar",method="POST").login__form
        input(type="text" name="id" placeholder="ID" required)
        input(type="password" name="password" required placeholder="PassWord")
        input(type="submit" value="Login")
    div.auth-switch
        span Dont have an account?
        a(href="/join") Create one now &rarr; 
