extends base
include mixin/deal     
block content
    form(method="get").search__form
        input(type="text" placeholder="Search" name="keyword")
        button
            i.fas.fa-search
    div.deal-grid
        each deal in deals 
            +deal(deal)
        else 
            span.empty__message Not found Photo.
            