.empty__message {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  margin-top: 100px;
  margin-left: 370px;
}
.deal-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}
