.deal-watch {
  margin: 0 auto;
  width: 250px;
  .loggedInUser {
    margin-top: 20px;
  }
  .loggedInUser a {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .deal-watch__thumb {
    height: 140px;
    border-radius: 7px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 10%;
    }
  }
  .deal-watch__data {
    .deal-watch__title {
      font-size: 30px;
      font-weight: bold;
      display: block;
      margin-top: 5px;
    }
    .deal-watch__description {
      opacity: 0.5;
      display: block;
      margin-top: 5px;
    }
    .deal-watch__hashtags {
      font-weight: bold;
      font-size: 20px;
      display: block;
      margin-top: 15px;
    }
    .deal-watch__profile {
      display: block;
      margin-top: 80px;
    }
  }
}
